@import '../../../variables';

:host {
    position: sticky;
    top: 0;
    z-index: 999;
}

fa-layers-counter {
    background-color: $primary;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.dropdown-item + .dropdown-item {
    margin-top: 16px;
}

.balance-header {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}

@media(min-width: 992px) {
    .balance {
        padding: 0 !important;
    }
}

.verify-email {
    padding: 10px 0;
    background: var(--blue);
    color: #fff;

    &.verify-resent {
        background: var(--green);
    }

    a {
        color: #fff;
        text-decoration: underline;
    }
}

.subscribe .nav-link {
    color: $primary;
}