<div class="verify-email text-center" *ngIf='service.signedIn && user.id && !user.email_verified_at && !resent'>
  Please verify your email address to purchase videos. <a [routerLink] (click)='resend()'>Resend</a>
</div>
<div class="verify-email verify-resent text-center" *ngIf='resent'>
  Your verification email has been resent. Please check your inbox and spam folders.
</div>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-xl">
    <a class="navbar-brand" routerLink="/home"><img width="200" src="/storage/select_horiz.svg"/></a>
    <button class="navbar-toggler" type="button" (click)='toggleCollapse()' [aria-expanded]='!(collapse | async)' aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse mt-4 mt-md-0" id="navbarSupportedContent" [ngClass]='{collapse: (collapse | async)}'>
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf='ready'>
          <ng-container *ngFor='let item of menu'>
            <li class="nav-item {{ item.link.substr(1).replace('/', '_') }}" *ngIf='(!item.loggedin || user.id) && (!item.hideIfSubscribed || !user.subscribed)'>
              <a class="nav-link" [routerLink]='item.link'>{{ item.display }}</a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf='user.id && user.balance'>
          <div class="d-inline-flex d-md-flex flex-column align-items-center mr-2 nav-link balance">
            <div class="text-muted balance-header">
              Balance
            </div>
            <div class="text-muted">{{ user.balance | price }}</div>
          </div>
        </li>
        <li class="nav-item" *ngIf='user.id && user.email_verified_at'>
          <a class="nav-link" routerLink="/checkout" aria-label="My Cart" label="My Cart">
            <fa-layers [fixedWidth]='true'>
              <fa-icon icon="shopping-cart"></fa-icon>
              <fa-layers-counter content="1" *ngIf='user.cart.length' class="text-primary"></fa-layers-counter>
            </fa-layers>
          </a>
        </li>
        <ng-container [ngSwitch]='user.id'>
          <li class="nav-item" *ngSwitchCase='null'>
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item dropdown" dropdown *ngSwitchDefault>
            <a dropdownToggle role="button" class="nav-link">{{ user.first_name }} {{ user.last_name }}&nbsp;<fa-icon icon="chevron-down"></fa-icon></a>
            <div class="dropdown-menu" *dropdownMenu [ngSwitch]='service.can("dashboard") | async'>
              <a class="dropdown-item" routerLink='/redeem' *ngIf='user.email_verified_at'>Redeem Gift Card</a>
              <a class="dropdown-item" [routerLink] (click)='portal()'>Manage My Subscription</a>
              <hr/>
              <a class="dropdown-item" routerLink='/videos/library' *ngSwitchCase='false'>My Library</a>
              <a class="dropdown-item" routerLink="/dashboard" *ngSwitchCase='true'>Dashboard</a>
              <hr/>
              <a class="dropdown-item" [routerLink] (click)='logout()'>Logout</a>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
