@import '../../../../variables';

.upload-container {
    background-color: var(--light);
    height: 200px;
    border: 5px dashed var(--dark);
    border-radius: 25px;
    color: var(--dark);
}

input[type=file] {
    width: 100%;
    margin: 0px;
    opacity: 0;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.card-header {
    cursor: pointer;
}

.upload-percent-bg {
    height: 144px;
    width: 256px;
    color: #fff;
    background-color: var(--dark);
}

.thumbnail-link {
    .thumbnail {
        background-size: cover;
        background-position: center;
        left: 15px;
        right: 15px;
        height: 100%;
        position: absolute;
        top: 0;
        transition: all 0.1s ease-in;
    }
    
    fa-icon {
        transition: all 0.1s ease-in;
        opacity: 0;
    }
    
    &:hover {
        .thumbnail {
            filter: brightness(0.4);
        }
        
        fa-icon {
            opacity: 1;
        }
    }
}

.progress-bar {
    background-image: $primary-gradient;
}

@media (max-width: 768px) {
    .upload-container {
        height: auto;
    }
}