<div class="container" *ngIf='uploadSettings'>
    <div class="row" *ngIf='title'>
        <h2 class="col-12">Upload</h2>
    </div>
    <div class="row mt-3 mb-5 justify-content-center">
        <div class="col-12 text-center">
            <div class="upload-container d-flex flex-column flex-md-row align-items-center justify-content-center py-4 py-md-0">
                <input type="file" #file name="video" id="video" accept="video/*" (input)='start(file.files)' multiple>
                <div class="mr-3 mb-4 mb-md-0">
                    <fa-icon icon="cloud-upload-alt" size="5x"></fa-icon>
                </div>
                <div class="d-flex flex-column">
                    <h3>Drag files here or</h3>
                    <button class="btn btn-primary">Browse</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12"><span class="text-muted"><strong>Caution:&nbsp;</strong>Do not navigate away from this page or close your browser until the upload has completed.</span></div>
    </div>
    <div class="row my-3" *ngFor='let upload of allUploads'>
        <div class="col-12">
            <div class="card" [ngClass]='{ collapsed: !upload.expanded }'>
                <div class="card-header d-flex align-items-center" (click)='upload.expanded = !upload.expanded'>
                    <div class="mr-3" [ngSwitch]='upload.status | async'>
                        <fa-icon icon="times-circle" size="2x" class="text-danger" *ngSwitchCase='"error"' [title]='upload.error | async'></fa-icon>
                        <fa-icon icon="check-circle" size="2x" class="text-primary" *ngSwitchCase='"complete"'></fa-icon>
                        <div class="spinner-border text-primary" *ngSwitchCase='"progress"'></div>
                    </div>
                    <div>
                        <h5 class="m-0">{{ upload.fileName }}</h5>
                    </div>
                    <div class="progress flex-grow-1 mx-3">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{ upload.upload | async }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]='{ width: (upload.upload | async) + "%" }'></div>
                    </div>
                    <div class="collapse-expand">
                        <fa-icon [icon]='upload.expanded ? "chevron-up" : "chevron-down"'></fa-icon>
                    </div>
                </div>
                <div class="card-body" *ngIf='upload.expanded'>
                    <div class="row justify-content-center justify-content-md-start">
                        <div class="col-auto">
                            <div class="upload-percent-bg d-flex flex-column justify-content-center align-items-center" [ngSwitch]='upload.upload | async'>
                                <ng-container *ngSwitchCase='"100.00"'>
                                    <a [href]='"/app/videos/" + (upload.complete | async)' target="_blank" class="thumbnail-link">
                                        <div class="thumbnail" [ngStyle]='{backgroundImage: (upload.thumb | async)}'></div>
                                        <fa-icon icon="external-link-alt" size="3x" class="mb-3 position-relative"></fa-icon>
                                    </a>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <fa-icon icon="cloud-upload-alt" size="3x" class="mb-3"></fa-icon>
                                    <span>Uploading...{{ upload.upload | async }}%</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="row">
                                <div class="col-12 col-md form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp" [(ngModel)]='upload.name'>
                                    <small id="nameHelp" class="form-text text-muted">The publicly-displayed video title.</small>
                                </div>
                                <div class="col-12 col-md form-group">
                                    <label for="visibility">Visibility</label>
                                    <ng-select appearance="outline" required [selectOnTab]='true' [searchable]="false" [clearable]="false" labelForId="visibility" [(ngModel)]='upload.visibility'>
                                        <ng-option value="published">
                                            <fa-icon icon="eye"></fa-icon>
                                            Published
                                        </ng-option>
                                        <ng-option value="draft">
                                            <fa-icon icon="eye-slash"></fa-icon>
                                            Draft
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="col-12 col-md form-group">
                                    <label for="name">Price</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">USD</span>
                                        </div>
                                        <input type="text" class="form-control" id="price" [(ngModel)]="upload.price" novalidate placeholder="0.00" autocomplete="off" pattern="\d+(?:\.\d{1,2})?"/>
                                        <div class="invalid-feedback">
                                            Please provide a valid price (> 0).
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-12 mt-3"><label for="tags">Add Tags</label></div>
                        <div class="col-12 col-md-auto">
                            <div class="form-group">
                                <ng-select class="tagSelect"
                                           labelForId="tags"
                                           appearance="outline"
                                           [items]='tags'
                                           [addTag]='addTagPromise.bind(this)'
                                           [(ngModel)]='upload.tags'
                                           bindLabel="name"
                                           [clearable]='false'
                                           [multiple]='true'></ng-select>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col form-group mt-3">
                            <label for="description">Description</label>
                            <textarea class="form-control" rows="3" [(ngModel)]='upload.description' placeholder="Type a brief description of the video which will show on the product page"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>