.background {
    //position: absolute;
    cursor: pointer;
}

:host.w-100 .background {
    width: 100%;
}

.play-button, .spinner-border {
    position: absolute;
    width: 80px;
    height: 64px;
    left: 0;
    right: 0;
    margin: auto auto;
    top: 0;
    bottom: 0;

    fa-icon {
        color: #fff;
    }
}

.spinner-border {
    height: 80px;
    color: #fff;
    border-width: 0.4em;
}
