<div class="background" (click)='watch()' *ngIf='!token || loading'>
    <img [src]='thumbnail' class="w-100"/>
    <div class="play-button" *ngIf='!loading'><fa-icon icon="play" size="4x" [fixedWidth]='true'></fa-icon></div>
    <div class="spinner-border" role="status" *ngIf='loading'>
      <span class="sr-only">Loading...</span>
    </div>
</div>
<ng-container *ngIf='token'>
    <cloudflare-stream class="stream" [src]='token' [controls]='true' [autoplay]='true' (loadstart)='loaded()' (ended)='ended.next($event)'></cloudflare-stream>
</ng-container>