:host {
    border-radius: 0.5rem;
    color: #fff;
    display: block;
    font-size: 1rem;
    position: relative;

    &.sm {
        width: 208px;

        & > a {
            height: 117px;
        }
    }

    &.md {
        width: 256px;

        & > a {
            height: 144px;
        }
    }

    &.lg {
        width: 426px;
        font-size: 1.2rem;

        & > a {
            height: 240px;
        }

        .video-title {
            font-size: 1.2em;
            left: 20px;
            bottom: 15px;
            right: 20px;
        }
    }

    &.noblur {
        a .background {
            filter: none;
        }
    }

    &.description {
        height: auto;
        
        & > a .background {
            border-radius: 0.5rem 0.5rem 0 0;
        }

        .description {
            border-radius: 0 0 0.5rem 0.5rem;
            padding: 10px;

            p {
                color: #000;
            }

            .video-title {
                font-size: 1.1em;
            }

            app-tag {
                font-size: 0.9em;
            }
        }
    }

    &.expired {
        opacity: 0.75;
    }

    & > a {
        display: block;
        padding: 10px;
        position: relative;

        * {
            color: #fff;
            position: relative;
        }
    
        .background {
            background-color: var(--dark);
            background-size: cover;
            background-position: center center;
            border-radius: 0.5rem;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            filter: brightness(0.5)
        }
    
        .duration {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px 10px;
            background-color: rgba(0, 0, 0, 0.5);
            border-top-right-radius: 0.5rem;
            font-size: 1em;
        }

        .exp {
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px 10px;
            background-color: rgba(0, 0, 0, 0.5);
            border-top-left-radius: 0.5rem;
            font-size: 1em;
        }
    
        .video-title {
            position: absolute;
            bottom: 10px;
            right: 10px;
            left: 10px;
            font-size: 1em;
        }

        .cfstate {
            position: absolute;
            top: 5px;
            left: 10px;
        }
    }
    
    .edit-button {
        position: absolute;
        right: -15px;
        top: -15px;
        background-color: var(--primary);
        border-radius: 50em;
        z-index: 999;
        width: 30px;
        height: 30px;

        display: flex;
        text-align: center;
        justify-content: center;

        a {
            position: absolute;
            line-height: 1.8;

            fa-icon {
                color: #fff;
            }
        }
    }
}

@media(max-width: 485px) {
    
    :host.lg {
        width: 256px;

        & > a {
            height: 144px;
        }
    }

}

@media(max-width: 767px) {
    :host .edit-button {
        display: none;
    }
}