<div *ngIf='editButton && (user.can("edit", { type: "App\\Video" }) | async)' class="edit-button">
    &nbsp;<a [routerLink]='["/dashboard/videos", video.id, "edit"]'><fa-icon icon="pencil-alt" size="sm" [fixedWidth]='true'></fa-icon></a>
</div>
<a [routerLink]='route' [queryParams]='parameters'>
    <div class="background" [ngStyle]='{ backgroundImage: "url(" + video.thumbnail?.url + ")"}'></div>
    <div class="cfstate" [title]='prettyStatus()' *ngIf='!exp && (cfstate || video.cfstate != "ready")'><fa-icon [icon]='cficon'></fa-icon></div>
    <div class="exp text-danger" *ngIf='exp'>
        <fa-icon icon="stopwatch"></fa-icon>&nbsp;
        <ng-container *ngIf='expired'>Expired</ng-container>
        <ng-container *ngIf='!expired' [ngSwitch]='size'>
            <ng-container *ngSwitchCase='"sm"'>
                Expires in&nbsp;<ng-container *ngIf='expirationHours'>{{ expirationHours }}h</ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>
                Expires in&nbsp;<ng-container *ngIf='expirationHours'>{{ expirationHours }}h&nbsp;</ng-container>
                <ng-container *ngIf='expirationMinutes'>{{ expirationMinutes }}m</ng-container>
            </ng-container>
        </ng-container>
    </div>
    <span class="video-title" *ngIf='title'>{{ video.name }}</span>
    <span class="duration" *ngIf='duration'>{{ video.duration | clock }}</span>
</a>
<div class="description border border-top-0" *ngIf='description'>
    <div class="video-title"><a [routerLink]='["/videos", video.id]'>{{ video.name }}</a></div>
    <div class="my-2"><app-tag [tag]='video.duration_tag' *ngIf='video.duration_tag' type="video"></app-tag><app-tag *ngIf='video.tags?.length' [tag]='video.tags[0]' type="video"></app-tag></div>
    <div class="my-2 text-danger" style="padding: 3px 10px;" *ngIf='exp'>
        <fa-icon icon="stopwatch"></fa-icon>&nbsp;
        <ng-container *ngIf='expired'>Expired</ng-container>
        <ng-container *ngIf='!expired'>
            Expires in&nbsp;<ng-container *ngIf='expirationHours'>{{ expirationHours }}h</ng-container>
            <ng-container *ngIf='expirationMinutes'>&nbsp;{{ expirationMinutes }}m</ng-container>
        </ng-container>
    </div>
    <p [innerText]='desc'></p>
    <div class="my-2 d-flex justify-content-end">
        <app-purchase-button [cartable]='video' type="video"></app-purchase-button>
    </div>
</div>
