.badge {
    padding: 5px 0.7em;
    cursor: default;

    &.started_watching {
        background-color: #e6f2ff;
        color: #007bff;
    }

    &.purchased,
    &.repurchased {
        background-color: #e3fbe8;
        color: #28a745;
    }
}