<ng-progress></ng-progress>
<div class="d-flex flex-column" style="height: 100%; min-height: calc(100vh + 115px)">
    <app-header></app-header>
    <div style="height: 30px" class="flex-shrink-0"></div>
    <div class="flex-grow-1"><router-outlet></router-outlet></div>
    <app-footer></app-footer>
</div>