<form [formGroup]='form' *ngIf='ready' autocomplete="off" (submit)='onSubmit()'>
    <div class="row">
        <div class="form-group col-9 input-group-lg">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" novalidate placeholder="Name" autocomplete="off"/>
            <div class="invalid-feedback">
                Please provide a valid name.
            </div>
        </div>
        <div class="form-group col-3 input-group-lg">
            <label for="color">Highlight Color</label>
            <input type="color" class="form-control" id="color" formControlName="bgcolor" novalidate placeholder="Color" autocomplete="off"/>
        </div>
        <div class="col-12 mt-3"><label for="tags">Add Tags</label></div>
        <div class="col-auto form-group">
            <ng-select class="tagSelect"
                       labelForId="tags"
                       appearance="outline"
                       [items]='tags'
                       [addTag]='addTagPromise.bind(this)'
                       [loading]='tagLoading'
                       formControlName="tags"
                       bindLabel="name"
                       [clearable]='false'
                       [multiple]='true'></ng-select>
        </div>
        <div class="col-12 form-group mt-3">
            <label for="description">Description</label>
            <textarea class="form-control" rows="3" formControlName="description" placeholder="Type a brief description of the video which will show on the product page" autocomplete="off"></textarea>
        </div>
        <div class="col-12 py-3">
            <hr/>
            <h3 class="pt-3">{{ (this.settings.settings | async).video_name_plural }}</h3>
        </div>
        <div class="col-12 no-videos justify-content-center" *ngIf='!package.videos.length'>
            <span class="text-muted">No content to show.</span>
        </div>
        <div class="col-auto mt-3" *ngFor='let video of package.videos'>
            <app-video-bubble [video]='video'></app-video-bubble>
        </div>
        <div class="col-12 my-3">
            <a [routerLink] (click)='toggleShowMore()'>Add More...&nbsp;<fa-icon icon="chevron-{{ showMore ? 'up' : 'down' }}"></fa-icon></a>
        </div>
        <ng-container *ngIf='showMore'>
            <div class="search form-group col-3">
                <input class="form-control" id="search" placeholder="Search" formControlName="search" (input)='search()'/>
            </div>
            <div class="w-100"></div>
            <div class="col-auto" *ngFor='let video of videos; let i = index'>
                <app-video-bubble [video]='video' (click)='addVideo(video, i)' [link]='false'></app-video-bubble>
            </div>
            <div class="col-12 exhausted-videos justify-content-center" *ngIf='exhausted'>
                <span class="text-muted">No more content to show.</span>
            </div>
        </ng-container>
        <div class="w-100"></div>
        <div class="col-auto ml-auto mt-3">
            <button type="button" (click)='delete()' class="btn btn-danger" *ngIf='!create'>Delete</button>
            <a routerLink="../.."><button type="button" class="btn btn-dark mx-4">Cancel</button></a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>