<div class="row">
    <div class="col-auto">
        <div class="search form-group">
            <input class="form-control" id="search" placeholder="Search" [(ngModel)]='searchInput' (input)='search()'/>
        </div>
    </div>
    <div class="col-auto">
        <button class="btn btn-dark" (click)='toggleDeleted()'>{{ deleted ? 'Hide' : 'Show' }} Deleted</button>
    </div>
</div>
<table class="table">
    <thead> 
        <tr>
            <th></th>
            <th>Name</th>
            <th style="min-width: 130px;">Visibility</th>
            <th>Price</th>
            <th style="min-width: 130px;"># Purchased</th>
            <th style="min-width: 75px;"></th>
        </tr>
    </thead>
    <tbody infiniteScroll (scrolled)='loadMore()'>
        <tr *ngFor='let video of videos; let i = index' [ngClass]='{ trashed: video.deleted_at !== null }'>
            <td style="width: 1px; white-space: nowrap"><app-video-bubble [video]='video' [title]='false' size="sm" [cfstate]='true' [edit]='true'></app-video-bubble></td>
            <td>
                <strong>{{ video.name }}</strong>&nbsp;&nbsp;
                <ng-container [ngSwitch]='featured.id === video.id'>
                    <fa-icon *ngSwitchCase='true' icon="star" class="text-primary" title="Unset featured" style="cursor: pointer" (click)='feature(video)'></fa-icon>
                    <fa-icon *ngSwitchDefault [icon]='farStar' class="text-muted" title="Make featured" style="cursor: pointer" (click)='feature(video)'></fa-icon>
                </ng-container>
                <div style="margin-top: 10px;"></div>
                <app-tag *ngFor='let tag of video.tags' [tag]='tag' type="video"></app-tag>
                <br/>
                <span *ngIf='video.deleted_at !== null' class="text-danger mt-2">Deleted on {{ video.deleted_at | date }}</span>
            </td>
            <td><fa-icon [icon]='statusIcon(video.status)'></fa-icon>&nbsp;{{ status(video.status) }}</td>
            <td>{{ video.price | price }}</td>
            <td>{{ video.count }}</td>
            <td [ngSwitch]='video.deleted_at'>
                <ng-container *ngSwitchCase='null'>
                    <a [routerLink]='["/dashboard/videos", video.id, "edit"]'><fa-icon icon="pencil-alt"></fa-icon>&nbsp;Edit</a>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <button class="btn btn-danger" (click)='forceDelete(video, i)'>Delete Permanently</button>
                    <button class="btn btn-primary d-block mt-3" (click)='restore(video)'>Restore</button>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center" *ngIf='isEnd'>
    <span class="text-muted">No more videos to load</span>
</div>