<div class="container" *ngIf='video'>
    <div class="row mb-5">
        <div class="col text-primary">
            <a [routerLink]='["/videos"]' class="d-flex align-items-center text-decoration-none"><fa-icon icon="chevron-left" size="2x"></fa-icon>&nbsp;&nbsp;<div style="font-size: 1.2rem">{{ (settings.settings | async).video_name_plural_listing }}</div></a>
        </div>
    </div>
    <div class="row justify-content-center justify-content-md-start">
        <div class="col-auto mr-2 mb-4 mb-md-0">
            <app-video-bubble [video]='video' [title]='false' size="md" [editButton]='true' [link]='false' [duration]='false'></app-video-bubble>
        </div>
        <div class="w-100 d-md-none"></div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h2>{{ video.name }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col mt-2">
                    <app-tag [tag]='video.duration_tag' *ngIf='video.duration_tag' type="video"></app-tag>
                    <app-tag *ngFor='let tag of video.tags' [tag]='tag' class="mt-1" type="video"></app-tag>
                </div>
            </div>
        </div>
        <div class="col-auto mr-2 mr-md-0">
            <app-purchase-button [cartable]='video'></app-purchase-button>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12">
            <p [innerText]='video.description'></p>
        </div>
    </div>
    <div class="row justify-content-center justify-content-md-start">
        <div class="col-12 mb-4 mb-md-0">
            <h4>Related {{ (settings.settings | async).video_name_plural }}</h4>
        </div>
        <div class="col-auto my-2 gutter-small" *ngFor='let related of relatedVideos'>
            <app-video-bubble [video]='related' [editButton]='true'></app-video-bubble>
        </div>
    </div>
</div>