<div class="container">
    <div class="row justify-content-center" *ngIf='!done'>
        <div class="col-auto"><h2>Forgot Password</h2></div>
        <div class="w-100"></div>
        <div class="col-auto text-center">
            <p>Enter your account's email address below and we'll send you a reset link.</p>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email" [(ngModel)]='email' [disabled]='submitting'/>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-auto">
            <button class="btn btn-primary" (click)='submit()'>Submit</button>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf='done'>
        <div class="col-auto"><h2>Done!</h2></div>
        <div class="w-100"></div>
        <div class="col-auto text-center">
            <p>Please check your inbox and spam folder.</p>
        </div>
    </div>
</div>
