<div class="package">
    <div class="card border-top-0">
        <div class="card-header p-0" style="height: 15px" [ngStyle]='{ backgroundImage: (package.bgcolor | gradient) }'></div>
        <div class="card-body row m-0">
            <h3 class="col-auto">
                {{ package.name }}
                <span *ngIf='user.can("edit", { type: "App\\Package" }) | async' class="edit-button">
                    &nbsp;<a [routerLink]='["/dashboard/packages", package.id, "edit"]'><fa-icon icon="pencil-alt" size="sm"></fa-icon></a>
                </span>
            </h3>
            <app-purchase-button *ngIf='user.signedIn' [cartable]='package' [cents]='package.price' type="package" class="col-auto ml-auto"></app-purchase-button>
            <div class="w-100"></div>
            <div class="col-12">{{ package.videos.length }} video{{ package.videos.length > 1 ? 's' : '' }}</div>
            <span class="p-1 pt-2 col-12" *ngIf='package.tags'>
                <app-tag *ngFor='let tag of package.tags' [tag]='tag' type="package"></app-tag>
            </span>
            <p class="col-9 mt-3" [innerText]='package.description'></p>
        </div>
        <div class="card-footer" *ngIf='package.videos.length'>
            <div class="row m-0 justify-content-center justify-content-md-start" *ngIf='exp'>
                <div class="col-auto gutter-small" *ngFor='let video of expiring()'>
                    <app-video-bubble [video]='video' [size]='vs' [exp]='video.pivot.expires'></app-video-bubble>
                </div>
            </div>
            <div class="row m-0 justify-content-center justify-content-md-start" *ngIf='!exp'>
                <div class="col-auto gutter-small" *ngFor='let video of package.videos'>
                    <app-video-bubble [video]='video' [size]='vs'></app-video-bubble>
                </div>
            </div>
        </div>
    </div>
</div>