<div class="container">
    <div class="row">
        <div class="col-12"><h2>Subscribe</h2></div>
        <div class="col-12 mt-2"><p [innerHTML]='copy'></p></div>
    </div>
</div>
<div class="container-fluid" *ngIf='subscriptions'>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm" *ngFor='let sub of subscriptions'>
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-saffron">{{ sub.name }}</h4>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h2 class="card-title pricing-card-title display-4">{{ sub.price / 100 | currency }} <small class="text-muted">/ mo</small></h2>
                        <h3 class="card-title pricing-card-title display-5">{{ sub.credit / 100 | currency }} <small class="text-muted"> account credit</small></h3>
                        <p class="my-2" *ngIf='sub.description'>
                            {{ sub.description }}
                        </p>
                        <button type="button" class="btn btn-lg btn-block btn-primary mt-4" (click)='click(sub)'>Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>