@import '../../../variables';

.emoji-button {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 25px;
    cursor: pointer;
    display: inline-flex;
    padding: 5px 20px 5px 15px;
    transition: all 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);

    .emoji-button-text {
        margin-left: 5px;
    }

    &:hover {
        border: 1px solid lighten($primary, 10%);
        background-color: transparentize($primary, 0.9%);
    }
}

.libnew {
    background-color: lighten($primary, 25%);
    padding: 10px 14px;
    border: 4px solid lighten($primary, 15%);
    border-radius: 25px;
    position: relative;

    h2 {
        color: darken($primary, 10%);
    }
}

@media (min-width: 445px) {
    .libnew h2 {
        position: absolute;
        margin-top: -41px;
        background-image: linear-gradient(to bottom, #fff 50%, lighten($primary, 25%) 50%);
        padding-right: 50px;   
    }
}

@media(max-width: 767px) {
    .edit-button {
        display: none;
    }
}