<div class="container" *ngIf='ready'>
    <div class="row mt-md-5 mb-3">
        <h2 class="col-12">Welcome to {{ (settings.settings | async).site_name }}!</h2>
        <div class="col-12 mt-2" [innerHtml]='copy1'></div>
        <div class="col-auto ml-auto text-muted mt-md-n3" style="font-weight: 600" *ngIf='!morecopy'><a (click)='morecopy = true' style="cursor: pointer;">Read More...</a></div>
        <div class="col-12" *ngIf='morecopy && copy2' [innerHTML]='copy2'></div>
    </div>
    <div class="row my-5 mx-1 mx-md-0 libnew justify-content-center justify-content-md-start" *ngIf='newInLibrary.length'>
        <h2 class="col-auto">New in My Library</h2>
        <div class="mt-3 w-100"></div>
        <div class="col-auto" *ngFor='let video of newInLibrary'><app-video-bubble [video]='video' [exp]='video.pivot.expires'></app-video-bubble></div>
    </div>
    <ng-container *ngIf='featuredVideo'>
        <div class="row">
            <h2 class="col-12">Featured Video</h2>
            <div class="col-12 mt-2">
                <div class="">
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-auto mx-auto mx-md-0">
                                <app-video-bubble [video]='featuredVideo' size="lg" [title]='false'></app-video-bubble>
                            </div>
                            <div class="col-12 col-md mt-3 mt-md-0 d-flex flex-column">
                                <div class="d-flex flex-row justify-content-between">
                                    <h3 class="flex-grow-1">
                                        <a routerLink="/videos/{{ featuredVideo.id }}">{{ featuredVideo.name }}</a>
                                        <span *ngIf='user.can("edit", { type: "App\\Video" }) | async' class="edit-button">
                                            &nbsp;<a [routerLink]='["/dashboard/videos", featuredVideo.id, "edit"]'><fa-icon icon="pencil-alt" size="sm"></fa-icon></a>
                                        </span>
                                    </h3>
                                    <app-purchase-button *ngIf='user.signedIn' [cartable]='featuredVideo.id' [cents]='featuredVideo.price' type="video"></app-purchase-button>
                                </div>
                                <span class="p-1" *ngIf='featuredVideo.tags'>
                                    <app-tag [tag]='featuredVideo.duration_tag' type="video"></app-tag>
                                    <app-tag *ngFor='let tag of featuredVideo.tags' [tag]='tag' type="video"></app-tag>
                                </span>
                                <p class="pt-3" [innerText]='featuredVideo.description'></p>
                                <div class="flex-grow-1"></div>
                                <div *ngIf='false'>
                                    <div class="emoji-button">
                                        <app-emoji content="👍" height="30"></app-emoji>
                                        &nbsp;
                                        <span class="emoji-button-text">
                                            1
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="row mt-5 mb-n4">
        <h2 class="col">New {{ (settings.settings | async).package_name_plural }}</h2>
    </div>
    <div class="row justify-content-center" *ngIf='packages.length'>
        <app-package-bubble class="col-12 mt-5" *ngFor='let package of packages' [package]='package' vs="sm"></app-package-bubble>
        <div class="col-auto mt-5">
            <a routerLink="/packages" class="btn btn-primary">View All</a>
        </div>
    </div>
    <div class="row justify-content-center text-muted" *ngIf='!packages.length'>
        There is no content to display
    </div>
</div>