<span class="chip" [ngSwitch]='!!tag.time_threshold' [routerLink]='route' [queryParams]='{ tag: tag.id }'>
    <ng-container *ngSwitchCase='true'>
        <fa-icon icon='clock' *ngIf='tag.time_threshold'></fa-icon>
        &nbsp;{{ tag.time_threshold | time }}
    </ng-container>
    <ng-container *ngSwitchCase='false'>
        {{ tag.name }}
    </ng-container>
</span>