:host {
    display: inline-block;
}

.chip {
    border-radius: 25px;
    cursor: pointer;
    padding: 3px 10px;
    transition: all 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    color: #000;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }
}
