<div class="row">
    <div class="col-12">
        <h2>Settings</h2>
    </div>
    <div class="col-12 mt-3">
        <h4>General</h4>
    </div>
</div>
<form [formGroup]='form' (submit)='onSubmit()'>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="site_name">Site Name</label>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-group">
            <input class="form-control" formControlName="site_name" id="site_name"/>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="site_name">Organization Name</label>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-group">
            <input class="form-control" formControlName="org_name" id="org_name"/>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="site_name">Organization Logo URL</label>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-group">
            <input class="form-control" formControlName="org_logo" id="org_logo"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-3">
        <h4>Aliases</h4>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="package_name">Package Name</label>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-group">
            <input class="form-control" formControlName="package_name" id="package_name"/>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="package_name_plural">Package Name Plural</label>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-group">
            <input class="form-control" formControlName="package_name_plural" id="package_name_plural"/>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="package_name_plural_listing">Package Name Plural (Menu)</label>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-group">
            <input class="form-control" formControlName="package_name_plural_listing" id="package_name_plural_listing"/>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="video_name">Video Name</label>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-group">
            <input class="form-control" formControlName="video_name" id="video_name"/>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="video_name_plural">Video Name Plural</label>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-group">
            <input class="form-control" formControlName="video_name_plural" id="video_name_plural"/>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="video_name_plural_listing">Video Name Plural (Menu)</label>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-group">
            <input class="form-control" formControlName="video_name_plural_listing" id="video_name_plural_listing"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-3">
        <h4>Copy</h4>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="login_page_text">Login Page Text&nbsp;&nbsp;<a href="/help/markdown" target="_blank"><img src="/md.svg" height="15" alt="Markdown" title="Supports Markdown"/></a></label>
    </div>
    <div class="col-12 col-md-5">
        <div class="form-group">
            <textarea class="form-control" formControlName="login_page_text" id="login_page_text" rows="15"></textarea>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="home_page_text">Home Page Text&nbsp;&nbsp;<a href="/help/markdown" target="_blank"><img src="/md.svg" height="15" alt="Markdown" title="Supports Markdown"/></a></label>
    </div>
    <div class="col-12 col-md-5">
        <div class="form-group">
            <textarea class="form-control" formControlName="home_page_text" id="home_page_text" rows="15"></textarea>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="footer_left_text">Footer Left Text&nbsp;&nbsp;
            <a href="/help/markdown" target="_blank"><img src="/md.svg" height="15" alt="Markdown" title="Supports Markdown"/></a>
            <br/>
            <span class="text-muted">(Below existing copyright)</span>
        </label>
    </div>
    <div class="col-12 col-md-5">
        <div class="form-group">
            <textarea class="form-control" formControlName="footer_left_text" id="footer_left_text" rows="7"></textarea>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="footer_right_text">Footer Right Text&nbsp;&nbsp;<a href="/help/markdown" target="_blank"><img src="/md.svg" height="15" alt="Markdown" title="Supports Markdown"/></a></label>
    </div>
    <div class="col-12 col-md-5">
        <div class="form-group">
            <textarea class="form-control" formControlName="footer_right_text" id="footer_right_text" rows="7"></textarea>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="subscribe_page_text">Subscribe Page Text&nbsp;&nbsp;<a href="/help/markdown" target="_blank"><img src="/md.svg" height="15" alt="Markdown" title="Supports Markdown"/></a></label>
    </div>
    <div class="col-12 col-md-5">
        <div class="form-group">
            <textarea class="form-control" formControlName="subscribe_page_text" id="subscribe_page_text" rows="7"></textarea>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-3 text-md-right">
        <label for="manage_subscription_dialog_text">Manage Subscription Dialog Text&nbsp;&nbsp;<a href="/help/markdown" target="_blank"><img src="/md.svg" height="15" alt="Markdown" title="Supports Markdown"/></a></label>
    </div>
    <div class="col-12 col-md-5">
        <div class="form-group">
            <textarea class="form-control" formControlName="manage_subscription_dialog_text" id="manage_subscription_dialog_text" rows="7"></textarea>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-6 text-right">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
</form>