<div class="container-fluid px-lg-5">
    <div class="row">
        <div class="col-12">
            <h2>Dashboard</h2>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <ng-container *ngFor='let item of menu'>
                    <hr *ngIf='item.name === ""' />
                    <a *ngIf='item.name !== ""' class="nav-link my-1" [ngClass]='{ active: activated === item.name }' id="v-pills-{{ item.name }}-tab" data-toggle="pill" [routerLink]='["/dashboard", item.name]' role="tab" attr.aria-controls="v-pills-{{ item.name }}" [attr.aria-selected]='activated === item.name'>
                        <div class="d-flex align-items-center">
                            <fa-icon [icon]='item.icon' class="mr-2"></fa-icon>
                            {{ item.display }}
                            <ng-container *ngIf='item.badge'>
                                &nbsp;<span class="badge">{{ item.badge }}</span>
                            </ng-container>
                        </div>
                    </a>
                </ng-container>
            </div>
        </div>
        <div class="col-12 col-md-9 mt-4 mt-md-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>