<form [formGroup]='form' *ngIf='ready' autocomplete="off" (submit)='onSubmit()'>
    <div class="row">
        <div class="col-3"><app-player [video]='video'></app-player></div>
        <div class="col row">
            <div class="form-group col-12 input-group-lg">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" novalidate placeholder="Name" autocomplete="off"/>
                <div class="invalid-feedback">
                    Please provide a valid name.
                </div>
            </div>
            <div class="col-3">
                <label for="visibility">Visibility</label>
                <ng-select appearance="outline" required [selectOnTab]='true' [searchable]="false" [clearable]="false" labelForId="visibility" formControlName="status">
                    <ng-option value="published">
                        <fa-icon icon="eye"></fa-icon>
                        Published
                    </ng-option>
                    <ng-option value="draft">
                        <fa-icon icon="eye-slash"></fa-icon>
                        Draft
                    </ng-option>
                </ng-select>
            </div>
            <div class="col-3 form-group">
                <label for="name">Price</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">USD</span>
                    </div>
                    <input type="text" class="form-control" id="price" formControlName="price" novalidate placeholder="0.00" autocomplete="off" pattern="\d+(?:\.\d{1,2})?"/>
                    <div class="invalid-feedback">
                        Please provide a valid price (> 0).
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3"><label for="tags">Add Tags</label></div>
        <div class="col-auto form-group">
            <ng-select class="tagSelect"
                       labelForId="tags"
                       appearance="outline"
                       [items]='tags'
                       [addTag]='addTagPromise.bind(this)'
                       [loading]='tagLoading'
                       formControlName="tags"
                       bindLabel="name"
                       [clearable]='false'
                       [multiple]='true'></ng-select>
        </div>
        <div class="col-12 form-group mt-3">
            <label for="description">Description</label>
            <textarea class="form-control" rows="3" formControlName="description" placeholder="Type a brief description of the video which will show on the product page" autocomplete="off"></textarea>
        </div>
        <div class="col-auto ml-auto mt-3">
            <button type="button" (click)='delete()' class="btn btn-danger">Delete</button>
            <a routerLink="../.."><button type="button" class="btn btn-dark mx-4">Cancel</button></a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><h2>Records</h2></div>
        <div class="col-12">
            <app-records-table [records]='video.records'></app-records-table>
        </div>
    </div>
</form>