<div class="row">
    <div class="col-auto">
        <div class="search form-group">
            <input class="form-control" id="search" placeholder="Search" [(ngModel)]='searchInput' (input)='search()'/>
        </div>
    </div>
    <div class="col-auto ml-auto">
        <div class="search form-group">
            <a routerLink="/dashboard/gift-cards/create"><button class="btn btn-primary">Create</button></a>
        </div>
    </div>
</div>
<table class="table">
    <thead> 
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Redeemed By</th>
            <th></th>
        </tr>
    </thead>
    <tbody infiniteScroll (scrolled)='loadMore()'>
        <tr *ngFor='let giftCard of giftCards; let i = index' [ngClass]='{ redeemed: giftCard.redeemed_by !== null }'>
            <td>{{ giftCard.name }}</td>
            <td>{{ giftCard.value | price }}</td>
            <td>
                <ng-container *ngIf='giftCard.redeemed_by'>
                    {{ giftCard.redeemed_by.first_name }} {{ giftCard.redeemed_by.last_name }}
                </ng-container>
            </td>
            <td>
                <a [routerLink]='["/dashboard/gift-cards", giftCard.id, "edit"]'><fa-icon icon="pencil-alt"></fa-icon>&nbsp;Edit</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center" *ngIf='isEnd'>
    <span class="text-muted">No more cards to load</span>
</div>