<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <img src="/storage/select_horiz.svg" width="300"/>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 border-right order-2 order-md-0 px-5 mt-5 mt-md-0">
            <h2 class="">Welcome to Select!</h2>
            <p>
                <strong>Log in or create an account to:</strong>
            </p>
            <p [innerHtml]='copy'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut convallis lacus, id placerat justo. Fusce sed finibus ipsum. Sed bibendum blandit metus in congue. Maecenas risus mi, bibendum ac massa sit amet, malesuada malesuada ex. Morbi convallis lectus sit amet enim facilisis, vitae sagittis neque condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi vel iaculis metus. Vivamus convallis consequat mauris et pharetra. Phasellus vel nibh id sem consectetur consectetur sit amet id felis.
    
                Quisque ipsum ligula, commodo quis euismod ut, rutrum at massa. Morbi bibendum tempus nunc ac tincidunt. Donec in felis condimentum, finibus dolor sed, consequat purus. Etiam luctus ex mauris, sed dignissim nulla porttitor ut. Nunc dolor felis, molestie consectetur turpis et, fringilla faucibus sapien. Suspendisse sit amet massa tincidunt, dapibus turpis quis, dapibus ligula. Nulla scelerisque dignissim volutpat. Nam eget volutpat nisi. Nunc hendrerit lacus nec mauris molestie, ac varius leo facilisis.
            </p>
        </div>
        <div class="col-md-6 justify-content-center order-1 px-5" *ngIf='isLogin'>
            <form [formGroup]='form'>
                <h2>Log In</h2>
                <div>No account? <a [routerLink]='["/register"]'>Register</a></div>
                <div class="form-group mt-4">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" formControlName="email"/>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" formControlName="password"/>
                  <div class="invalid-feedback">
                    The provided credentials do not match any account.
                  </div>
                </div>
                <div class="d-flex align-items-center mt-3">
                  <button (click)='submit()' class="btn btn-primary">Login</button>
                  <div class="ml-3 text-muted">Forgot Password? <a routerLink='/login/reset'>Reset</a></div>
                </div>
            </form>
        </div>
        <div class="col-md-6 justify-content-center px-5" *ngIf='!isLogin' [ngClass]='{ "was-validated": validated }'>
            <form [formGroup]='form'>
                <h2>Register</h2>
                <div>Already have an account? <a [routerLink]='["/login"]'>Login</a></div>
                <div class="form-group mt-4">
                  <label for="first_name">First Name</label>
                  <input type="text" class="form-control" id="first_name" formControlName="first_name" novalidate/>
                  <div class="invalid-feedback">
                    Please provide a valid first name.
                  </div>
                </div>
                <div class="form-group mt-4">
                  <label for="last_name">Last Name</label>
                  <input type="text" class="form-control" id="last_name" formControlName="last_name" novalidate/>
                  <div class="invalid-feedback">
                    Please provide a valid last name.
                  </div>
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" formControlName="email" novalidate/>
                  <div class="invalid-feedback">
                    Please provide a valid, unique email address.
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" formControlName="password" minlength="8"/>
                  <div class="invalid-feedback">
                    Please provide a password of at least 8 characters.
                  </div>
                </div>
                <div class="form-group">
                  <label for="c_password">Confirm Password</label>
                  <input type="password" class="form-control" id="c_password" formControlName="confirmPassword" novalidate/>
                  <div class="invalid-feedback">
                    Does not match the given password.
                  </div>
                </div>
                <button (click)='submit()' class="btn btn-primary mt-3">Create Account</button>
            </form>
        </div>
    </div>
</div>