<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-primary">
            <a routerLink="/" class="d-flex align-items-center text-decoration-none"><fa-icon icon="chevron-left" size="2x"></fa-icon>&nbsp;&nbsp;<div style="font-size: 1.2rem">Back to Home</div></a>
        </div>
        <div class="col-auto mt-4 mt-md-0"><h2>Redeem Gift Card Code</h2></div>
        <div class="w-100"></div>
        <div class="col-6 text-center">
            <p>
                Redeem gift card codes here. The code should be 4 sets of 4 characters and is case-sensitive.
            </p>
        </div>
        <div class="w-100"></div>
        <div class="col-auto">
            <app-redeem-input (valid)='valid = $event' (input)='code = $event'></app-redeem-input>
        </div>
        <div class="w-100"></div>
        <div class="col-auto mt-4">
            <button class="btn btn-primary" [disabled]='!valid' (click)='redeem()'>Redeem</button>
        </div>
    </div>
</div>