.inner {
    position: relative;
    width: 100%;
    //padding-bottom: 75%;

    .stream {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.package-card {
    padding: 0px 15px;
    
    & > * {
        background-color: #eeeeee;
    }

    h3 {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}