<div class="container" *ngIf='video'>
    <div class="row mb-5">
        <div class="col text-primary">
            <a [routerLink]='["/videos/library"]' class="d-flex align-items-center text-decoration-none"><fa-icon icon="chevron-left" size="2x"></fa-icon>&nbsp;&nbsp;<div style="font-size: 1.2rem">My Library</div></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="inner">
                <app-player [video]='video' class="w-100" (ended)='ended()'></app-player>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="order-1 col">
            <div class="row align-items-center">
                <div class="col-md">
                    <h2>{{ video.name }}</h2>
                </div>
                <div class="col-auto">
                    <div class="author d-flex align-items-center border pl-2 pr-3 py-1" style="border-radius: 10px" *ngIf='(settings.settings | async).org_name'>
                        <img [src]="(settings.settings | async).org_logo" height="40" width="40">
                        <div class="ml-2">{{ (settings.settings | async).org_name }}</div>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <app-tag [tag]='video.duration_tag' *ngIf='video.duration_tag' type="video"></app-tag>
                    <app-tag *ngFor='let tag of video.tags' [tag]='tag' class="mt-1" type="video"></app-tag>
                </div>
            </div>
        </div>
        <div class="order-0 order-lg-2 col-12 col-lg-4 package-card mb-3 mb-lg-0" *ngIf='package'>
            <div class="p-3">
                <h3>{{ package.name }}</h3>
                <span>{{ currentIndex }} / {{ package.videos.length }} {{ (settings.settings | async).video_name_plural.toLowerCase() }}</span>
            </div>
            <div class="row justify-content-center m-0">
                <div class="col-auto" *ngFor='let video of package.videos'>
                    <app-video-bubble [video]='video' [watch]='package.id' class="py-2"></app-video-bubble>
                </div>
            </div>
        </div>
    </div>
</div>