<div class="container">
    <div class="row mb-3">
        <h2>Cart</h2>
    </div>
    <div class="row border-bottom py-4" *ngFor='let video of cart'>
        <div class="col-auto mr-3">
            <app-video-bubble [video]='video' [title]='false' size="sm"></app-video-bubble>
        </div>
        <div class="col d-flex flex-column">
            <h3><a [routerLink]='["/videos", video.id]'>{{ video.name }}</a></h3>
            <span>${{ (video.price / 100).toFixed(2) }}</span>
            <div class="flex-grow-1"></div>
            <span><a [routerLink] role="button" (click)='remove(video)'>Remove</a></span>
        </div>
    </div>
    <div class="row pt-4 justify-content-end">
        <div class="col-auto text-right">
            <h4>Enter Promo Code</h4>
            <div class="d-flex align-items-center justify-content-end mb-3" [ngSwitch]='!!(currentUser && currentUser.promo)'>
                <ng-container *ngSwitchCase='true'>
                    <input class="form-control d-inline" style="width: 130px" [value]='currentUser.promo.code' readonly />
                    <button type="button" class="btn btn-dark ml-3" (click)='removeCode()'><fa-icon icon="times"></fa-icon></button>
                </ng-container>
                <ng-container *ngSwitchCase='false'>
                    <input class="form-control d-inline" style="width: 130px" placeholder="Code" #code />
                    <button type="button" class="btn btn-primary ml-3" (click)='applyCode(code.value)'>Apply</button>
                </ng-container>
            </div>
            <div class="text-danger" *ngIf='promoError'>
                {{ promoError }}
            </div>
            <ng-container *ngIf='currentUser && currentUser.promo'>
                <h5>Subtotal: ${{ total(false).toFixed(2) }}</h5>
                Promo Code: -{{ (currentUser.promo.discount / 100).toFixed(2) }}%
            </ng-container>
            <hr class="my-5"/>
            <h2>Total: ${{ total().toFixed(2) }}</h2>
            <ng-container *ngIf='(user.user | async).balance'>
                <span class="text-muted">(Your available balance will be applied before you are charged)</span>
                <br/>
            </ng-container>
            <button (click)='checkout()' class="btn btn-primary mt-3">Checkout</button>
        </div>
    </div>
</div>
