<div class="row">
    <div class="col-auto">
        <div class="search form-group">
            <input class="form-control" id="search" placeholder="Search" [(ngModel)]='searchInput' (input)='search()'/>
        </div>
    </div>
    <div class="col-auto ml-auto">
        <div class="search form-group">
            <a routerLink="/dashboard/promos/create"><button class="btn btn-primary">Create</button></a>
        </div>
    </div>
</div>
<table class="table">
    <thead> 
        <tr>
            <th>Code</th>
            <th>Discount</th>
            <th>Expiration</th>
            <th></th>
        </tr>
    </thead>
    <tbody infiniteScroll (scrolled)='loadMore()'>
        <tr *ngFor='let promo of promos; let i = index' [ngClass]='{ expired: timecmp(now, promo.expires) }'>
            <td>{{ promo.code }}</td>
            <td>{{ (promo.discount / 100).toFixed(2) }}% Discount</td>
            <td [ngSwitch]='timecmp(now, promo.expires)' class="expiration">
                <ng-container *ngSwitchCase='false'>
                    Expires {{ promo.expires | date }}
                </ng-container>
                <ng-container *ngSwitchDefault>
                    Expired
                </ng-container>
            </td>
            <td>
                <a [routerLink]='["/dashboard/promos", promo.id, "edit"]'><fa-icon icon="pencil-alt"></fa-icon>&nbsp;Edit</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center" *ngIf='isEnd'>
    <span class="text-muted">No more codes to load</span>
</div>