<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <fa-icon size="10x" icon="check-circle" style="color: limegreen"></fa-icon>
        </div>
        <div class="w-100"></div>
        <div class="col-auto mt-5">
            <h1>Payment Complete!</h1>
        </div>
        <div class="w-100"></div>
        <div class="col-auto mt-5">
            <a routerLink='/videos/library' class="btn btn-primary">Go to my Library</a>
        </div>
    </div>
</div>