<div class="container">
    <div class="row mt-4" *ngIf='packages.length'>
        <h2 class="col-12 mb-4">My {{ (settings.settings | async).package_name_plural }}</h2>
        <div class="col-12 col-md-6 mb-5 gutter-small" *ngFor='let package of packages'>
            <app-package-bubble [package]='package' [exp]='true' vs='sm'></app-package-bubble>
        </div>
    </div>
    <div class="row mt-4 justify-content-center justify-content-md-start" *ngIf='videos.length'>
        <h2 class="col-12">My {{ (settings.settings | async).video_name_plural }}</h2>
        <div class="col-auto" *ngFor='let video of videos'>
            <app-video-bubble [video]='video' [description]='true' size="md" [title]='false' [exp]='video.pivot.expires'></app-video-bubble>
        </div>
    </div>
    <div class="row mt-4 justify-content-center" *ngIf='!videos.length && !packages.length'>
        <div class="col-auto">You can find videos you've purchased here!</div>
    </div>
</div>