/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import 'variables';

@import '~bootstrap';

@import "~@ng-select/ng-select/themes/default.theme.css";

html, body {
    height: 100%;
}

.fa-layers-counter {
    background-color: $primary;
}

.navbar {
    box-shadow: 0 0 .5rem rgba(83,78,76,.5);
    font-weight: 600;
    
    &.navbar-light {
        background-color: #fff;
    }
}

h2 {
    font-weight: 600;
}

p {
    font-weight: 400;
}

.border-gradient {
    padding: 1px;
    background-image: $primary-gradient;
    border-radius: 1rem;
}

@supports not (background-image: $primary-gradient) {
    .border-gradient {
        background-color: $primary;
    }
}

.btn-primary {
    color: #fff !important;
    font-weight: 600;
}

.btn.btn-primary-gradient {
    font-weight: 600;
    letter-spacing: 0.5px;
    background-image: $primary-gradient;
    color: #fff;
}

.card-header:first-child {
    background-color: #fff;
    border-radius: 1rem 1rem 0 0;
}

.card {
    border-radius: 1rem;

    &.collapsed {
        .card-header {
            border-radius: 1rem;
        }
    }
}

.form-control.ng-invalid:not(.ng-pristine), .was-validated .form-control.ng-invalid {
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + .75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right calc(0.375em + 0.1875rem) center !important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.ng-invalid:not(.ng-pristine) ~ .invalid-feedback, .was-validated .ng-invalid ~ .invalid-feedback {
    display: block;
}

.col-auto {
    padding: 0.5rem 10px;
}

.text-primary .fa-layers-counter {
    color: $primary;
}