.buy-button {
    width: 12rem;
}
.amount {
    padding: 0.375rem 0.75rem;
    transform: translateX(2px);
}
.adding, .added, .library {
    .amount {
        width: 0;
        padding: 0;
        transform: none;
        border: none !important;
    }
}
.adding, .added {
    button {
        pointer-events: none;
        background-color: darkgray;
        background-image: none;
        border: none;
    }
}
.amount, button {
    transition: all 0.25s ease-in;
    white-space: nowrap;
}
.add button {
    width: 7.5rem;
}
.adding button {
    width: 3.25rem;
}
.added button {
    width: 10.3rem;
}
.library, .library button {
    width: 4.68rem;
}
.spinner-border {
    width: 1.625rem;
    height: 1.625rem;
    border-width: 0.2em;
}
.amount {
    background-color: #fff;
}