<form [formGroup]='form' *ngIf='ready' autocomplete="off" (submit)='onSubmit()'>
    <div class="row">
        <div class="form-group col input-group-lg">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" formControlName="code" novalidate placeholder="Code" autocomplete="off"/>
            <div class="invalid-feedback">
                Please provide a valid code.
            </div>
        </div>
        <div class="col form-group">
            <label for="discount">Discount</label>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="discount" formControlName="discount" novalidate placeholder="0.00" autocomplete="off" pattern="\d+(?:\.\d{1,2})?"/>
                <div class="input-group-append">
                    <span class="input-group-text">%</span>
                </div>
                <div class="invalid-feedback">
                    Please provide a valid discount (> 0).
                </div>
            </div>
        </div>
        <div class="form-group col input-group-lg">
            <label for="expires_date">Expires</label>
            <input type="text" class="form-control" id="expires_date" formControlName="expires_date" novalidate placeholder="Expires On" autocomplete="off" bsDatepicker [bsConfig]="{ isAnimated: true, adaptivePosition: true }"/>
            <div class="invalid-feedback">
                Please provide a valid date.
            </div>
        </div>
        <div class="form-group col input-group-lg" style="padding-top: 8px">
            <timepicker formControlName="expires_time" [hourStep]="1" [minuteStep]="1"></timepicker>
            <div class="invalid-feedback">
                Please provide a valid time.
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-auto ml-auto mt-3">
            <button type="button" (click)='delete()' class="btn btn-danger">Delete</button>
            <a routerLink="../.."><button type="button" class="btn btn-dark mx-4">Cancel</button></a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>