<div class="row">
    <div class="col-auto">
        <div class="search form-group">
            <input class="form-control" id="search" placeholder="Search" [(ngModel)]='searchInput' (input)='search()'/>
        </div>
    </div>
    <div class="col-auto">
        <button class="btn btn-dark" (click)='toggleDeleted()'>{{ deleted ? 'Hide' : 'Show' }} Deleted</button>
    </div>
    <div class="col-auto ml-auto">
        <div class="search form-group">
            <a routerLink="/dashboard/packages/create"><button class="btn btn-primary">Create</button></a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th style="padding: 0"></th>
            <th>Name</th>
            <th>Price</th>
            <th># Purchased</th>
            <th></th>
        </tr>
    </thead>
    <tbody infiniteScroll (scrolled)='loadMore()'>
        <tr *ngFor='let package of packages; let i = index' [ngClass]='{ trashed: package.deleted_at !== null }'>
            <td style="width: 10px; padding: 0" [ngStyle]='{ backgroundImage: (package.bgcolor | gradient) }'></td>
            <td>
                {{ package.name }}
                <br/>
                <span *ngIf='package.deleted_at !== null' class="text-danger mt-2">Deleted on {{ package.deleted_at | date }}</span>
            </td>
            <td>{{ package.price | price }}</td>
            <td>0</td>
            <td [ngSwitch]='package.deleted_at'>
                <ng-container *ngSwitchCase='null'>
                    <a [routerLink]='["/dashboard/packages", package.id, "edit"]'><fa-icon icon="pencil-alt"></fa-icon>&nbsp;Edit</a>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <button class="btn btn-danger" (click)='forceDelete(package, i)'>Delete Permanently</button>
                    <button class="btn btn-primary d-block mt-3" (click)='restore(package)'>Restore</button>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center" *ngIf='isEnd'>
    <span class="text-muted">No more packages to load</span>
</div>