<form [formGroup]='form' *ngIf='ready' autocomplete="off" (submit)='onSubmit()'>
    <div class="row">
        <div class="form-group col-4 input-group-lg">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" novalidate placeholder="Name" autocomplete="off"/>
            <div class="invalid-feedback">
                Please provide a valid name.
            </div>
        </div>
        <div class="form-group col-4 input-group-lg">
            <label for="value">Value</label>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text">USD</span>
                </div>
                <input type="text" class="form-control" id="value" formControlName="value" novalidate placeholder="0.00" autocomplete="off" pattern="\d+(?:\.\d{1,2})?"/>
                <div class="invalid-feedback">
                    Please provide a valid value (> 0).
                </div>
            </div>
        </div>
        <div class="col-4 form-group input-group-lg" [ngSwitch]='create'>
            <ng-container *ngSwitchDefault>
                <label for="redemption">Redemption Code</label>
                <input type="text" class="form-control" id="redemption" formControlName="redemption" readonly />
            </ng-container>
            <ng-container *ngSwitchCase='true'>
                <label for="count">Create how many?</label>
                <input type="number" class="form-control" id="count" formControlName="count" />
            </ng-container>
        </div>
        <div class="w-100"></div>
        <div class="col-auto ml-auto mt-3">
            <button type="button" (click)='delete()' class="btn btn-danger">Delete</button>
            <a routerLink="../.."><button type="button" class="btn btn-dark mx-4">Cancel</button></a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>