<div class="container">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="search form-group">
                <input class="form-control" id="search" placeholder="Search by title & description" [(ngModel)]='searchInput' (input)='search()'/>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="search-tags form-group">
                <ng-select class="tagSelect"
                           labelForId="tags"
                           appearance="outline"
                           [items]='tags'
                           [(ngModel)]='selectedTags'
                           (change)='onTagSelect()'
                           bindLabel="name"
                           bindValue="id"
                           placeholder="Search by tags"
                           [clearable]='false'
                           [multiple]='true'>
                    <ng-template ng-option-tmp let-tag="item" let-search="searchTerm">
                        <ng-container *ngIf='tag.time_threshold'>
                            <fa-icon icon='clock' *ngIf='tag.time_threshold'></fa-icon>
                            &nbsp;{{ tag.time_threshold | time }}
                        </ng-container>
                        <ng-container *ngIf='!tag.time_threshold'>
                            {{ tag.name }}
                        </ng-container>
                    </ng-template>
                    <ng-template ng-label-tmp let-tag="item" let-clear="clear">
                        <span class="ng-value-icon left" (click)="clear(tag)" aria-hidden="true">×</span>
                        <span class="ng-value-label">
                            <ng-container *ngIf='tag.time_threshold'>
                                <fa-icon icon='clock' *ngIf='tag.time_threshold'></fa-icon>
                                &nbsp;{{ tag.time_threshold | time }}
                            </ng-container>
                            <ng-container *ngIf='!tag.time_threshold'>
                                {{ tag.name }}
                            </ng-container>
                        </span>
                    </ng-template>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="row mt-4 justify-content-center justify-content-md-start" infiniteScroll (scrolled)='loadMore()'>
        <ng-container *ngIf='!startFresh'>
            <div class="col-auto gutter-small my-2" *ngFor='let video of videos'>
                <app-video-bubble [video]='video' [description]='true' size="md" [title]='false' [editButton]='true'></app-video-bubble>
            </div>
        </ng-container>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-auto" [ngSwitch]='isEnd'>
            <button class="btn btn-dark" type="button" (click)='loadMore()' *ngSwitchCase='false'>Load More</button>
            <span class="text-muted" *ngSwitchCase='true'>No more videos to load</span>
        </div>
    </div>
</div>