<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center justify-content-md-between align-items-center py-md-4 text-center text-md-left">
            <div class="col-12 col-md-4 order-2">
                <strong>Select</strong> &copy;{{ now }} Sigrid Rittby
                <div class="mt-1 mb-n3" [innerHTML]='left'></div>
            </div>
            <div class="col-auto my-1 my-md-0 order-1 order-md-3">
                <img src="/select_gray.svg" height="50" />
            </div>
            <div class="col-12 col-md-4 mb-n3 text-md-right order-4" [innerHTML]='right'></div>
        </div>
    </div>
</div>