:host {
    padding-top: 115px;
    width: 100%;

    .container-fluid {
        background-color: #212529;
        color: #868e96;

        .container {
            height: 115px;

            & > .row {
                height: 100%;
            }
        }
    }
}

@media (max-width: 576px) {
    :host {
        padding-top: 300px;
        
        .container-fluid .container {
            height: 300px;
        }
    }
}