<div class="row justify-content-end">
    <div class="col-auto">
        <a (click)='addNew()' class="btn btn-primary">Create</a>
    </div>
</div>
<div class="row my-3" *ngFor='let subscription of subscriptions'>
    <div class="col-12">
        <div class="card" [ngClass]='{ collapsed: !subscription.expanded }'>
            <div class="card-header d-flex align-items-center" (click)='expand(subscription)'>
                <div>
                    <h5 class="m-0" *ngIf='subscription.name'>{{ subscription.name }}&nbsp;&mdash;&nbsp;{{ (subscription.price / 100 | currency) }}/mo</h5>
                </div>
                <div class="collapse-expand ml-auto">
                    <fa-icon [icon]='subscription.expanded ? "chevron-up" : "chevron-down"'></fa-icon>
                </div>
            </div>
            <div class="card-body" *ngIf='subscription.expanded'>
                <form (submit)='$event.preventDefault(); save(subscription)'>
                    <div class="row justify-content-center justify-content-md-start">
                        <div class="col-12 col-md form-group">
                            <label for="name">Name</label>
                            <input name="name" type="text" class="form-control" id="name" aria-describedby="nameHelp" [(ngModel)]='editSubscription.name'>
                            <small id="nameHelp" class="form-text text-muted">The publicly-displayed subscription title.</small>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md form-group">
                            <label for="name">Credit</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">USD</span>
                                </div>
                                <input name="credit" type="text" class="form-control" id="credit" aria-describedby="creditHelp" [(ngModel)]="editSubscription.credit" novalidate placeholder="0.00" autocomplete="off" pattern="\d+(?:\.\d{1,2})?"/>
                                <div class="invalid-feedback">
                                    Please provide a valid price (> 0).
                                </div>
                            </div>
                            <small id="creditHelp" class="form-text text-muted">How much should be added to the subscriber's balance each month?</small>
                        </div>
                        <div class="col-12 col-md form-group">
                            <label for="name">Price</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">USD</span>
                                </div>
                                <input name="price" type="text" class="form-control" id="price" aria-describedby="priceHelp" [(ngModel)]="editSubscription.price" novalidate placeholder="0.00" autocomplete="off" pattern="\d+(?:\.\d{1,2})?" [disabled]='!!editSubscription.id'/>
                                <div class="invalid-feedback">
                                    Please provide a valid price (> 0).
                                </div>
                            </div>
                            <small id="priceHelp" class="form-text text-muted">Per month</small>
                        </div>
                        <div class="col-12 form-group">
                            <label for="description">Description</label>
                            <textarea name="description" type="text" class="form-control" id="description" [(ngModel)]='editSubscription.description'></textarea>
                        </div>
                        <div class="col-12" *ngIf='editSubscription.id'>
                            <a href="https://dashboard.stripe.com/subscriptions?price={{ editSubscription.price_id }}" target="_blank">View Subscribers</a>
                        </div>
                        <div class="col-12 text-right">
                            <button class="btn mr-3 btn-danger" type="button" (click)='delete(subscription)' *ngIf='subscription.id' title="Existing subscribers will not be unsubscribed.">Archive</button>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
